body {
  background-color: #000810;
  color: #eff8ff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.button {
  margin: 1rem;
  font-size: 2rem;
}
