* {
  text-align: center;
}

body {
  background-color: #000810;
  color: #eff8ff;
  font-size: 100%;
  font-size: 1rem;
}

h1 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.vertText {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.gameboardLabel {
  align-self: flex-start;
}

.button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-width: 00.1rem;
  border-style: solid;
  border-radius: 20% / 50%;
}

.gameSquare {
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 35%;
  width: 2rem;
  aspect-ratio: 1;
}

.guessed {
  background-color: #0000ff;
}

.hasShip {
  background-color: #00ff00;
}

.hitShip {
  background-color: #ffff00;
}

.sunkShip {
  background-color: #ff0000;
}

#cardSection {
  gap: 2rem;
}

#playerBoardLabel {
  margin-top: 3rem;
}
